.page-agreement {
  height: 100vh;
  overflow-y: auto;
  padding: 40px 80px;
  font-size: 16px;

  h1 {
    font-size: 2rem;
    padding: 0.5rem 0;
  }

  h2 {
    font-size: 1.5rem;
    padding: 0.4rem 0;
  }

  p {
    line-height: 2;
  }

  a:hover {
    color: var(--theme-color);
    text-decoration: underline;
  }

  table {
    td {
      border: 1px solid #dee2e6;
    }
  }
}
