@font-face {
  font-family: "iconfont"; /* Project id 5101523 */
  src: url('iconfont.woff2?t=1774358514632') format('woff2'),
       url('iconfont.woff?t=1774358514632') format('woff'),
       url('iconfont.ttf?t=1774358514632') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-warning:before {
  content: "\e655";
}

.icon-sparkles_fill:before {
  content: "\e6d9";
}

.icon-Fire:before {
  content: "\e664";
}

.icon-fangkuai:before {
  content: "\e650";
}

.icon-tupian:before {
  content: "\e67f";
}

.icon-robot:before {
  content: "\e87d";
}

.icon-danao:before {
  content: "\e651";
}

.icon-shipin:before {
  content: "\e652";
}

.icon-dagang-:before {
  content: "\e653";
}

.icon-xiaoshuogenggai:before {
  content: "\e654";
}

.icon-Ghost:before {
  content: "\e789";
}

.icon-fujiancopy:before {
  content: "\e6cd";
}

.icon-bofang:before {
  content: "\e641";
}

.icon-bulb:before {
  content: "\e64f";
}

.icon-wenben:before {
  content: "\e6df";
}

.icon-wenjianjia:before {
  content: "\e65f";
}

.icon-xinjianwenjianjia:before {
  content: "\e628";
}

.icon-xinjianwenjian_line:before {
  content: "\e629";
}

.icon-refresh1:before {
  content: "\e640";
}

.icon-contact-icon-location:before {
  content: "\e617";
}

.icon-contact-icon-mail:before {
  content: "\e612";
}

.icon-daohang:before {
  content: "\e601";
}

.icon-a-fasongdaohang-m:before {
  content: "\e7e2";
}

.icon-baocun:before {
  content: "\e936";
}

.icon-zhuashou:before {
  content: "\e86c";
}

.icon-delete:before {
  content: "\ea46";
}

.icon-star-filled:before {
  content: "\ea40";
}

.icon-star:before {
  content: "\ea51";
}

.icon-thumbs-up-filled:before {
  content: "\eae3";
}

.icon-thumbs-down-filled:before {
  content: "\eae4";
}

.icon-24gl-bubblesDots4:before {
  content: "\e940";
}

.icon-IconQA:before {
  content: "\e64e";
}

.icon-kefu:before {
  content: "\e60e";
}

.icon-loading1:before {
  content: "\ea91";
}

.icon-edit:before {
  content: "\ea48";
}

.icon-refresh:before {
  content: "\e66f";
}

.icon-loading:before {
  content: "\e616";
}

.icon-command:before {
  content: "\e9c2";
}

.icon-IconNotice:before {
  content: "\e64d";
}

.icon-IconNote:before {
  content: "\e64c";
}

.icon-add:before {
  content: "\e625";
}

.icon-forwardo:before {
  content: "\e736";
}

.icon-down:before {
  content: "\eaa1";
}

.icon-left:before {
  content: "\eaa2";
}

.icon-right:before {
  content: "\eaa5";
}

.icon-up:before {
  content: "\eaa6";
}

.icon-gongzhonghao1:before {
  content: "\e600";
}

.icon-xiaohongshu:before {
  content: "\e611";
}

.icon-bilibili:before {
  content: "\e605";
}

.icon-ImglPCat003_160x160:before {
  content: "\e64b";
}

.icon-ImglPCat003_110x110:before {
  content: "\e64a";
}

.icon-ImglPCat002_160x160:before {
  content: "\e649";
}

.icon-ImglPCat001_160x160:before {
  content: "\e648";
}

.icon-ImglPCat001_110x110:before {
  content: "\e647";
}

.icon-ImglPCat002_110x110:before {
  content: "\e646";
}

.icon-IconInstruction:before {
  content: "\e645";
}

.icon-IconUseGlobalNotes:before {
  content: "\e644";
}

.icon-IconAddLocalFile:before {
  content: "\e643";
}

.icon-BtnGuideNextArrow:before {
  content: "\e642";
}

.icon-IconWantIdea:before {
  content: "\e63d";
}

.icon-IconWantWrite:before {
  content: "\e63f";
}

.icon-IconWantSearch:before {
  content: "\e63e";
}

.icon-IconWantEdit:before {
  content: "\e63c";
}

.icon-IconFire:before {
  content: "\e63b";
}

.icon-IconSendDirection:before {
  content: "\e63a";
}

.icon-IconInspiration_L:before {
  content: "\e639";
}

.icon-IconHot:before {
  content: "\e638";
}

.icon-IconCreationRank_L:before {
  content: "\e637";
}

.icon-IconGuideStepTick:before {
  content: "\e636";
}

.icon-IconGuideStepNone:before {
  content: "\e635";
}

.icon-IconGuideStepNow:before {
  content: "\e634";
}

.icon-BtnGuideClose:before {
  content: "\e633";
}

.icon-BtnGuideNext:before {
  content: "\e632";
}

.icon-BtnGuideBack:before {
  content: "\e631";
}

.icon-IconTopWritingStyle:before {
  content: "\e630";
}

.icon-IconTopOutline:before {
  content: "\e62f";
}

.icon-BtnOExport:before {
  content: "\e62e";
}

.icon-BtnOAddFolder:before {
  content: "\e62d";
}

.icon-BtnOAddFile:before {
  content: "\e62c";
}

.icon-BtnExport:before {
  content: "\e62b";
}

.icon-BtnEditBack1:before {
  content: "\e62a";
}

.icon-IconTopWorldView:before {
  content: "\e627";
}

.icon-IconTopRoleSetting:before {
  content: "\e626";
}

.icon-IconTopNormal:before {
  content: "\e624";
}

.icon-IconTopIntroduction:before {
  content: "\e623";
}

.icon-IconTopBookEdit:before {
  content: "\e622";
}

.icon-IconFolderOpened:before {
  content: "\e621";
}

.icon-IconFolder:before {
  content: "\e620";
}

.icon-IconEditTime:before {
  content: "\e61f";
}

.icon-IconEditSearch:before {
  content: "\e61e";
}

.icon-IconEditArrowR:before {
  content: "\e61c";
}

.icon-IconEditArrowL:before {
  content: "\e61b";
}

.icon-BtnEditBack:before {
  content: "\e61a";
}

.icon-IconEditFontsetting:before {
  content: "\e61d";
}

.icon-BtnChatHistory:before {
  content: "\e619";
}

.icon-BtnChatAdd:before {
  content: "\e618";
}

.icon-BtnSendGrey:before {
  content: "\e615";
}

.icon-BtnSelectionToolGrey:before {
  content: "\e614";
}

.icon-BtnLinkGrey:before {
  content: "\e613";
}

.icon-BtnTickYellow:before {
  content: "\e610";
}

.icon-BtnTickNone:before {
  content: "\e60f";
}

.icon-BtnAdd:before {
  content: "\e60d";
}

.icon-IconPoint:before {
  content: "\e60c";
}

.icon-IconMyID:before {
  content: "\e60b";
}

.icon-IconJoinGroup:before {
  content: "\e60a";
}

.icon-IconInspiration:before {
  content: "\e609";
}

.icon-IconCreationRank:before {
  content: "\e608";
}

.icon-IconMySpace:before {
  content: "\e607";
}

.icon-IconAIexpert:before {
  content: "\e606";
}

.icon-IconAboutUs:before {
  content: "\e604";
}

